/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
img {
  width: 200px;
  display: none;
  margin: auto;
  margin-top: -80px;
  z-index: 1;
}
@media (max-width: 800px) {
  img {
    margin-top: 860px;
  }
}
.main-fa {
  margin-top: 10%;
  font-size: 50px;
}
.fa-campground {
  display: none;
}
.fa-hiking {
  display: none;
}
.fa-mountain {
  display: none;
}
.fa-binoculars {
  display: none;
}
h1 {
  display: none;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 28rem;
  color: #1F9D55;
  animation: h1 0.6s both;
  z-index: 1;
}
@keyframes h1 {
  0% {
    text-shadow: 0 0 #1A4731, 0 0 #1A4731, 0 0 #1A4731, 0 0 #1A4731, 0 0 #1A4731, 0 0 #1A4731, 0 0 #1A4731, 0 0 #1A4731;
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: -1px -1px #1A4731, -2px -2px #1A4731, -3px -3px #1A4731, -4px -4px #1A4731, -5px -5px #1A4731, -6px -6px #1A4731, -7px -7px #1A4731, -8px -8px #1A4731;
    transform: translateX(8px) translateY(8px);
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 26.5rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 15rem;
  }
}
p {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 3rem;
}
@media (max-width: 800px) {
  p {
    margin-bottom: 20px;
  }
}
.fade-text {
  display: none;
}
.a-social {
  text-decoration: none;
  color: black;
  z-index: 1;
}
.a-compass {
  text-decoration: none;
  color: black;
}
.a-compass:hover {
  animation: transform 2s;
}
@keyframes transform {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 800px) {
  .a-compass {
    margin-top: 150px;
  }
}
.container {
  width: 100%;
  margin-left: -600px;
}
section {
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  section {
    flex-direction: column;
  }
}
.top {
  display: flex;
  flex-direction: column;
}
.zero {
  height: 1100px;
  width: 100px;
  display: none;
  background-image: url('../assets/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 50%;
}
@media (max-width: 800px) {
  .zero {
    width: 100%;
    height: 100px;
    background-size: auto;
    background-position: 75% 10%;
  }
}
.one {
  width: 300px;
}
@media (max-width: 800px) {
  .one {
    width: 100%;
    height: 200px;
  }
  .one p {
    margin-left: -5000px;
  }
  .one h1 {
    margin: auto;
  }
}
@media (max-width: 500px) {
  .one {
    height: 100px;
  }
  .one h1 {
    margin-top: -5px;
    margin-bottom: 5px;
  }
  .one .site-icons {
    margin-left: 28px;
    font-size: 3.5rem;
  }
}
.copy {
  text-align: center;
  margin-bottom: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
.site-icons {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-bottom: 40px;
  font-size: 4rem;
}
.social {
  margin-right: 20px;
  z-index: 1;
  display: none;
}
.social:hover {
  font-size: 5rem;
  color: #1F9D55;
  cursor: pointer;
}
.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.fa-compass {
  display: none;
  font-size: 10rem;
  cursor: pointer;
}
@media (max-width: 800px) {
  .fa-compass {
    margin-top: 150px;
  }
}
.fa-compass:hover {
  font-size: 11rem;
}
.two {
  height: 1100px;
  width: 30%;
  display: none;
  background-image: url('../assets/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 50%;
  overflow: hidden;
}
@media (max-width: 800px) {
  .two {
    width: 100%;
    height: 200px;
    background-size: auto;
    background-position: 75% 28%;
  }
}
.three {
  height: 900px;
  width: 300px;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-left: 2.5px;
}
.three .sign-up {
  display: none;
}
@media (max-width: 800px) {
  .three .sign-up {
    display: block;
    margin-top: 105px;
  }
}
@media (max-width: 500px) {
  .three .sign-up {
    margin-top: 95px;
  }
}
.three .copy {
  display: none;
}
.green {
  color: #1F9D55;
}
@media (max-width: 800px) {
  .three .copy {
    display: block;
  }
}
@media (max-width: 800px) {
  .three {
    height: 940px;
    display: block;
    text-align: center;
    margin: 30px auto;
    padding-top: 0;
  }
}
.four {
  height: 1100px;
  width: 20%;
  display: none;
  background-image: url('../assets/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% 50%;
}
@media (max-width: 800px) {
  .four {
    width: 100%;
    height: 200px;
    background-image: url('../assets/login-bg.jpg');
    background-size: auto;
    background-position: 65% 50%;
  }
}
footer {
  height: 20px;
  display: flex;
  margin-left: 40%;
}
.fa-copyright {
  margin-top: 5px;
  font-size: 2rem;
}
